*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
html,
body {
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0 auto;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: white;
  justify-content: center;
  overflow-x: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Rockwell";
  src: url("fonts/ROCK.TTF");
  font-display: swap;
}


.align-center {
  align-items: center;
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}
/* ----------------ALL----------------- */

.wrapper{
    max-width: 1640px;
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

.subtitle{
    font-family: 'Playfair Display';
    font-size: 28px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;

    padding-bottom: 20px;
}


.consalt_left_page_grid_second ul,
.consalt_left_page_grid_third ul, 
.consalt_right_page_grid_first ul, 
.garnish_right_page_grid_third ul, 
.pastry_right_page_grid_first ul{
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.button{
    width: 100%;
    position: absolute;
    bottom: 0;

    border: 1px solid black;
    background: none;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;

    cursor: pointer;
}

.consalt_right_page_box, 
.garnish_right_page_box, 
.awards_right_page_wrapper,
.pastry_right_page_wrapper{
    padding: 0px 81px 81px 81px;
}

/* ---------------HEADER--------------- */
.head_title{
    width: 50%;
}

.head_title_text{
    margin: 0 auto;
    width: 50%;
    padding-top: 35%;
}

h1{
    font-family: Playfair Display;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.head_title_text img{
    margin: 0 auto;
}

.head_img_wrapper{
    width: 50%;
    border-left: 1px solid black;
    height: 100vh;
}

.head_img{
    background-image: url('images/headImg.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

/* ---------awards------------ */

.awards{
    height: 100vh;
}

.awards_left_page{
    padding: 81px;
    width: 50%;
    height: 80vh;
}

.awards_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 145px 145px 400px;
    gap: 0px 60px;
    height: 80vh;
}

.subtitle_grid{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.award_first{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.award_second{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.award_third{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
} 
.award_fourth{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.awards_img{
    background-image: url('images/appleImg.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 44vh;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}


.award_first, .award_second, .award_third, .award_fourth{
    display: flex;
}

.awards_text{
    padding-top: 40px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.awards_text::before{
    position: absolute;
    content: '';
    top: 0;
    left: -40%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 16vh;
    background-image: url('images/lavryLeft.png');
    background-size: contain;
}

.awards_text::after{
    position: absolute;
    content: '';
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 16vh;
    background-image: url('images/lavryRight.png');
    background-size: contain;
}

.regalia{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.contest{
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.year{
    font-family: 'Playfair Display';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}


.awards_right_page{
    position: relative;
    border-left: 1px solid black;
    width: 50%;
}

.awards_right_page_img{
    background-image: url('images/awardsImg.jpg');
    background-size: 100% 100%;
    /* width: 100%; */
    height: 82.5vh;
}


/* ----------consalt-------- */

.consalt{
    height: 100vh;
}

.consalt_left_page{
    position: relative;
    padding: 81px;
    width: 50%;
}

.consalt_left_page_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 26px;
    height: 80vh;
}

.consalt_left_page_grid_first{
    background-image: url('images/consaltLeftImg.jpg');
    background-size: cover;
    width: 100%;
}

.consalt_left_page_grid_fourth{
    background-image: url('images/consaltRightImg.jpg');
    background-size: cover;
    width: 100%;
}


.consalt_left_page_grid_third{
    width: 100%;
    position: relative;
}

.text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.sub_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}


/* --------right---------- */

.consalt_right_page{
    position: relative;
    width: 50%;
    border-left: 1px solid black;
}


.consalt_right_page_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 26px;
}

.consalt_right_page_grid_second{
    background-image: url('images/dinnerTopImg.jpg');
    background-size: cover;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.consalt_right_page_grid_third{
    background-image: url('images/dinnerBottomImg.jpg');
    background-size: cover;
    width: 100%;
    height: 39vh;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}

/* -------garnish-------- */

.garnish{
    height: 100vh;
}

.garnish_left_page{
    position: relative;
    padding: 81px;
    width: 50%;
    height: 100vh;
}

.garnish_left_pagegrid_first{
    position: relative;
}

.garnish_left_page_grid_second{
    background-image: url('images/garnishTopImg.jpg');
    background-size: 100% 100%;
    /* width: 100%; */
    height: 40vh;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.garnish_left_page_grid_third{
    background-image: url('images/garnishBottomImg.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 40vh;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}

.garnish_left_page_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

/* ----right------- */

.garnish_right_page{
    position: relative;
    width: 50%;
    border-left: 1px solid black;
}

.garnish_right_page_grid_first{
    background-image: url('images/HelpTopImg.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 40vh;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.garnish_right_page_grid_second{
    background-image: url('images/helpBottomImg.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 40vh;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.garnish_right_page_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

/* ------monaLisa-------- */

.mona_lisa{
    height: 100vh;
}

.mona_lisa_wrapper{
    background-image: url('images/monaLizaImg.jpg');
    background-size: cover;
    width: 100%;
}

.mona_lisa_left_page{
    width: 50%;
    border: 1px solid black;
    z-index: 1000;
}

/* ---------pastry---- */

.pastry{
    height: 100vh;
}

.pastry_left_page{
    width: 50%;
}

.pastry_right_page_grid_first{
    position: relative;
    height: 80vh;
}

.pastry_left_page_wrapper{
    background-image: url('images/pastryLeftImg.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

/* -----right-------- */

.sign{
    padding: 30px 81px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
}

.pastry_right_page{
    width: 50%;
    border-left: 1px solid black;
}

.pastry_right_page_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    height:80vh;
}

.pastry_right_page_grid_first{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.pastry_right_page_grid_second{
    background-image: url('images/lemonImg.jpg');
    background-size: cover;
    width: 100%;
    height: 80vh;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.button_pastry{
    margin-top: 41%;
}


/* ------footer---- */

footer{
    background-image: url('images/footerImg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.footer_left_page{
    width: 50%;
}

.footer_right_page{
    width: 50%;
    border-left: 1px solid #000;
    position: relative;
}

.footer_right_page_form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.text_footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: white;
    padding-left: 45px;
}

.text_link_footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.whatsup, .mail{
    display: flex;
}

.whatsup_icon{
    background-image: url('images/whatsapp-logo.png');
    background-size: cover;
    width: 36px;
    
}

.mail_icon{
    background-image: url('images/mail-logo.png');
    background-size: cover;
    width: 36px;
}


.register_name, .register_surname {
    margin-bottom: 20px;
    padding: 12px;
    display: block;
    width: 100%;
    box-sizing: border-box; 
    border: none;
    background-color: #EFEFEF;
  }
  

  .register_name {
    margin-top: 60px;
  }
  

  ::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #00000099;
    opacity: 0.6;
  }

  

  #register_send {
    display: block;
    margin: 0 auto; 
    padding: 10px 30px;
    background-color: #D5AE78; 
    color: #fff;
    border: none;
    cursor: pointer;
    width: 40%;

    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
  }

  .button_link{
    text-decoration: none;
  }

  /* ------numbers page-------- */

  .awards_left_page{
    position: relative;
  }

  .awards_left_page::after{
    position: absolute;
    content: '2';
    top: 91vh;
    left: 4vw;
    bottom: 0;
    right: 0;
    width: 10px;
  }
  .awards_right_page::after{
    position: absolute;
    content: '3';
    top: 91vh;
    left: 35.5vw;
    bottom: 0;
    right: 0;
    width: 10px;
  }

  .consalt_left_page::after{
    position: absolute;
    content: '4';
    top: 91vh;
    left: 4vw;
    bottom: 0;
    right: 0;
    width: 10px;
  }

  .consalt_right_page::after{
    position: absolute;
    content: '5';
    top: 91vh;
    left: 35.5vw;
    bottom: 0;
    right: 0;
    width: 10px;
  }


  .garnish_left_page::after{
    position: absolute;
    content: '6';
    top: 91vh;
    left: 4vw;
    bottom: 0;
    right: 0;
    width: 10px;
  }

  .garnish_right_page::after{
    position: absolute;
    content: '7';
    top: 91vh;
    left: 35.5vw;
    bottom: 0;
    right: 0;
    width: 10px;
  }